/*
.container {
  border: 1px solid lightgrey;
  border-radius: 3px;
}
.price {
    float: right;
}
*/

.container {
  border: 5px ;
  border-radius: 5px;
  margin: 0px;
  padding: 0px;
}

.cart {

}

.price {
  float: right;
}
