.pokemon {
  width: 150px;
  height: 200px;
  background-color: white;
  border: 2px solid black;
  padding: 65px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name {
  text-transform: capitalize;
  padding: 0 px;
  margin: 0 px;
}

img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

.weight {
  text-transform: capitalize;
}

.ability {
  text-transform: capitalize;
}

/* .imgContainer{
  float:left;
} */